.hand-insights-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.hand-insights-table-wrapper {
  max-height: 70vh; /* Make sure the table doesn't exceed 70% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.hand-insights-container h2,
.hand-insights-container h3 {
  color: #333;
}

.hand-insights-container h2 {
  margin-bottom: 10px; /* Add spacing below the session number */
}

.table-hand {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 30px; /* Add space between title and table */
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.table-hand th, 
.table-hand td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc; /* Add this line to make the borders between rows more visible */
}

.table-hand th {
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc; /* Slightly thicker border for the table header */
}

.table-hand td {
  color: #333; /* Ensure text color is consistent */
}

/* Optional: Make alternating rows have a different background color */
.table-hand tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-hand tr:last-child td {
  border-bottom: none;
}

.table-hand tr:hover {
  background-color: #f0f0f0;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%; /* Ensure the modal adjusts for smaller screens */
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-content ul li {
  margin: 10px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  cursor: pointer;
  color: #333;
}

.modal-content ul li:hover {
  background-color: #e0e0e0;
}

.submit-button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: darkgray; /* Darker color on hover for better feedback */
}
